name: npm-publish-dry-run

on:
  push:
    branches:
      - 'master'

jobs:
  npm-publish-dry-run:
    name: npm-publish-dry-run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - name: Publish Dry run
        uses: JS-DevTools/npm-publish@v1
        env:
          PUBLIC_ADDRESS: ${{ secrets.PUBLIC_ADDRESS }}
          ETH_NODE_URL: ${{ secrets.ETH_NODE_URL }}
        with:
          token: ${{ secrets.NPM_AUTH_TOKEN }}
          tag: dev
          dry-run: true
